// _hero.scss

$hero: (
	height:	1000px,
	height-alt: 450px,
  	height_mobile: 700px,
);

//add gradients
.hero {
	width: 100%;
	height: map-get($hero, height );
  	overflow: hidden;
	position:relative;
	background-size: cover;
	background-position: 50% 50%;
	background-color: #363636;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: linear-gradient(45deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.98) 98%, rgba(0,128,128,1) 100%); 
		//linear-gradient(45deg, rgba(54,76,89,1) 0%, rgba(0,128,128,1) 100%);
		//linear-gradient(45deg, #3F426E 0%, #008080 100%); 
		opacity: .6; 
	  }
}

.hero-image-lg {
	position: relative;
	height: map-get($hero, height);
	overflow: hidden;
}

.img-contaner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	text-align: center;
}
	
	.hero__bg {
		width: auto;
		min-width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: 50% 50%;
	}

	.hero__inner {
		width: 100%;
		max-width: 950px; //changed from 1000px
		padding: 0 20px;
		position: absolute;
		left: 50%;
		top: 50%;
		text-align: center;
		padding-top: 100px;
		@include transform(translateX(-50%) translateY(-50%));

		h1, p {
			color: $color-white;
		}
	}